{% extends 'base.html' %}
{% load static %}
{% block content %}
    <!-- ========== MAIN CONTENT ========== -->
    <main id="content" role="main">
        <!-- Hero -->
        <div class="gradient-y-sm-primary position-relative zi-2 overflow-hidden">
            <div class="container position-relative content-space-t-3 content-space-t-lg-4 content-space-b-2">
                <!-- Heading -->
                <div class="w-md-80 w-lg-70 text-center mx-md-auto mb-5 mb-md-9">
                    <h1 class="display-4 mb-3">БелЕвропривод</h1>
                    <p class="lead">Редукторы, мотор-редукторы и машиностроительное оборудование <br> по всей Беларуси и за ее пределы</p>
                </div>
                <!-- End Title & Description -->

                <!-- Swiper Slider -->
                <div class="js-swiper-software-hero swiper zi-2 swiper-initialized swiper-horizontal swiper-pointer-events swiper-backface-hidden">
                    <div class="swiper-wrapper" id="swiper-wrapper-35df7105bf10cd47e8" aria-live="polite"
                         style="transform: translate3d(0px, 0px, 0px);">
                        <!-- Slide -->
                        <div class="swiper-slide my-2 swiper-slide-active" role="group" aria-label="1 / 5"
                             style="width: 199.2px; margin-right: 30px;">
                            <!-- Card -->
                            <div class="card card-sm card-transition shadow-sm">
                                <img class="card-img-top"
                                     src="https://htmlstream.com/preview/front-v4.3.1/assets/img/400x200/img1.jpg"
                                     alt="Image Description">

                                <div class="card-body">
                                    <h4 class="card-title">Червячные редукторы</h4>
                                    <p class="card-text small">Developer tools</p>

                                    <div class="d-grid">
                                        <a class="btn btn-primary btn-sm" href="#">Install</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                        <!-- End Slide -->

                        <!-- Slide -->
                        <div class="swiper-slide my-2 swiper-slide-next" role="group" aria-label="2 / 5"
                             style="width: 199.2px; margin-right: 30px;">
                            <!-- Card -->
                            <div class="card card-sm card-transition shadow-sm">
                                <img class="card-img-top"
                                     src="https://htmlstream.com/preview/front-v4.3.1/assets/img/400x200/img1.jpg"
                                     alt="Image Description">

                                <div class="card-body">
                                    <h4 class="card-title">Планетарные редукторы</h4>
                                    <p class="card-text small">Productivity</p>

                                    <div class="d-grid">
                                        <a class="btn btn-primary btn-sm" href="#">Install</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                        <!-- End Slide -->

                        <!-- Slide -->
                        <div class="swiper-slide my-2" role="group" aria-label="3 / 5"
                             style="width: 199.2px; margin-right: 30px;">
                            <!-- Card -->
                            <div class="card card-sm card-transition shadow-sm">
                                <img class="card-img-top"
                                     src="https://htmlstream.com/preview/front-v4.3.1/assets/img/400x200/img1.jpg"
                                     alt="Image Description">

                                <div class="card-body">
                                    <h4 class="card-title">Коническо цилиндрические</h4>
                                    <p class="card-text small">Collaboration tool</p>

                                    <div class="d-grid">
                                        <a class="btn btn-primary btn-sm" href="#">Install</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                        <!-- End Slide -->

                        <!-- Slide -->
                        <div class="swiper-slide my-2" role="group" aria-label="4 / 5"
                             style="width: 199.2px; margin-right: 30px;">
                            <!-- Card -->
                            <div class="card card-sm card-transition shadow-sm">
                                <img class="card-img-top"
                                     src="https://htmlstream.com/preview/front-v4.3.1/assets/img/400x200/img1.jpg"
                                     alt="Image Description">

                                <div class="card-body">
                                    <h4 class="card-title">Индустриальные редукторы</h4>
                                    <p class="card-text small">Streaming service</p>

                                    <div class="d-grid">
                                        <a class="btn btn-primary btn-sm" href="#">Install</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                        <!-- End Slide -->

                        <!-- Slide -->
                        <div class="swiper-slide my-2" role="group" aria-label="5 / 6"
                             style="width: 199.2px; margin-right: 30px;">
                            <!-- Card -->
                            <div class="card card-sm card-transition shadow-sm">
                                <img class="card-img-top"
                                     src="https://htmlstream.com/preview/front-v4.3.1/assets/img/400x200/img1.jpg"
                                     alt="Image Description">
                                <div class="card-body">
                                    <h4 class="card-title">Электродвигатели моторы</h4>
                                    <p class="card-text small">Cloud infrastructure</p>

                                    <div class="d-grid">
                                        <a class="btn btn-primary btn-sm" href="#">Install</a>
                                    </div>
                                </div>
                            </div>
                            <!-- End Card -->
                        </div>
                        <!-- End Slide -->
                    </div>

                    <!-- Pagination -->
                    <div class="js-swiper-software-hero-pagination swiper-pagination d-lg-none swiper-pagination-clickable swiper-pagination-bullets swiper-pagination-horizontal swiper-pagination-bullets-dynamic swiper-pagination-lock"
                         style="width: 40px;"><span
                            class="swiper-pagination-bullet swiper-pagination-bullet-active swiper-pagination-bullet-active-main"
                            tabindex="0" role="button" aria-label="Go to slide 1" aria-current="true"
                            style="left: 0px;"></span></div>

                    <!-- Preloader -->

                    <!-- End Preloader -->
                    <span class="swiper-notification" aria-live="assertive" aria-atomic="true"></span></div>
                <!-- ENd Swiper Slider -->

                <!-- SVG Shape -->
                <figure class="position-absolute zi-n1" style="top: -35rem; left: 50rem; width: 62rem; height: 62rem;">
                    <svg preserveAspectRatio="none" xmlns="http://www.w3.org/2000/svg" x="0px" y="0px"
                         viewBox="0 0 260 260">
                        <circle fill="#e7eaf3" opacity=".7" cx="130" cy="130" r="130"></circle>
                    </svg>
                </figure>
                <!-- End SVG Shape -->

                <!-- SVG Shape -->
                <figure class="position-absolute zi-n1" style="top: 15rem; left: 70rem; width: 20rem; height: 20rem;">
                    <img class="img-fluid" src="{% static "/svg/components/circled-stripe.svg" %}"
                         alt="Image Description">
                </figure>
                <!-- End SVG Shape -->

                <!-- SVG Shape -->
                <figure class="position-absolute zi-n1"
                        style="bottom: 11rem; left: -3rem; width: 15rem; height: 15rem;">
                    <img class="img-fluid" src="{% static "/svg/components/dots.svg" %}" alt="Image Description">
                </figure>
                <!-- End SVG Shape -->
            </div>

            <!-- Shape -->
            <div class="shape shape-bottom zi-1">
                <svg width="3000" height="500" viewBox="0 0 3000 500" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path d="M0 500H3000V0L0 500Z" fill="#fff"></path>
                </svg>
            </div>
            <!-- End Shape -->

        </div>
        <!-- End Hero -->
<div class="container">
<div class="row gx-3 mx-n2 mb-7">
              <div class="col-sm-6 col-md-4 mb-3">
                <!-- Card -->
                <div class="card card-bordered card-transition shadow-none h-100">
                  <a class="card-body" href="../demo-app-marketplace/app-overview.html">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img class="avatar avatar-xs" src="../assets/svg/brands/the-ocean-icon.svg" alt="Logo">
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <div class="d-flex align-items-center">
                          <h5 class="card-title mb-0">The Ocean</h5>
                        </div>
                        <p class="card-text text-body small">Productivity</p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- End Card -->
              </div>
              <!-- End Col -->

              <div class="col-sm-6 col-md-4 mb-3">
                <!-- Card -->
                <div class="card card-bordered card-transition shadow-none h-100">
                  <a class="card-body" href="../demo-app-marketplace/app-overview.html">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img class="avatar avatar-xs" src="../assets/svg/brands/twilio-icon.svg" alt="Logo">
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <div class="d-flex align-items-center">
                          <h5 class="card-title mb-0">Twilio</h5>
                        </div>
                        <p class="card-text text-body small">Channel</p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- End Card -->
              </div>
              <!-- End Col -->

              <div class="col-sm-6 col-md-4 mb-3">
                <!-- Card -->
                <div class="card card-bordered card-transition shadow-none h-100">
                  <a class="card-body" href="../demo-app-marketplace/app-overview.html">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img class="avatar avatar-xs" src="../assets/svg/brands/mudbox-icon.svg" alt="Logo">
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <div class="d-flex align-items-center">
                          <h5 class="card-title mb-0">Mudbox</h5>
                        </div>
                        <p class="card-text text-body small">3D computer graphics</p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- End Card -->
              </div>
              <!-- End Col -->

              <div class="col-sm-6 col-md-4 mb-3">
                <!-- Card -->
                <div class="card card-bordered card-transition shadow-none h-100">
                  <a class="card-body" href="../demo-app-marketplace/app-overview.html">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img class="avatar avatar-xs" src="../assets/svg/brands/github-icon.svg" alt="Logo">
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <div class="d-flex align-items-center">
                          <h5 class="card-title mb-0">Github</h5>
                          <img class="avatar avatar-xss ms-1" src="../assets/svg/illustrations/top-vendor.svg" alt="Image Description" title="Top Vendor">
                        </div>
                        <p class="card-text text-body small">Collaborative</p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- End Card -->
              </div>
              <!-- End Col -->

              <div class="col-sm-6 col-md-4 mb-3">
                <!-- Card -->
                <div class="card card-bordered card-transition shadow-none h-100">
                  <a class="card-body" href="../demo-app-marketplace/app-overview.html">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img class="avatar avatar-xs" src="../assets/svg/brands/sentry-icon.svg" alt="Logo">
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <div class="d-flex align-items-center">
                          <h5 class="card-title mb-0">Sentry</h5>
                          <img class="avatar avatar-xss ms-1" src="../assets/svg/illustrations/top-vendor.svg" alt="Image Description" title="Top Vendor">
                        </div>
                        <p class="card-text text-body small">Tax calculation</p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- End Card -->
              </div>
              <!-- End Col -->

              <div class="col-sm-6 col-md-4 mb-3">
                <!-- Card -->
                <div class="card card-bordered card-transition shadow-none h-100">
                  <a class="card-body" href="../demo-app-marketplace/app-overview.html">
                    <div class="d-flex">
                      <div class="flex-shrink-0">
                        <img class="avatar avatar-xs" src="../assets/svg/brands/frontapp-icon.svg" alt="Logo">
                      </div>

                      <div class="flex-grow-1 ms-3">
                        <div class="d-flex align-items-center">
                          <h5 class="card-title mb-0">FrontApp</h5>
                        </div>
                        <p class="card-text text-body small">Communication</p>
                      </div>
                    </div>
                  </a>
                </div>
                <!-- End Card -->
              </div>
              <!-- End Col -->
            </div>
      <!-- Title -->
      <div class="w-md-75 w-lg-100 mx-md-auto mb-5 mb-md-9">
          <div class="row row-cols-2 row row-cols-1">
          <div class="col-lg-4 col-12 align-self-center"><h2>Популярные продукты</h2></div>
         <div class="col-lg-8 col-12"><div class="card card-sm overflow-hidden">
          <!-- Card -->
          <div class="card-body">
            <div class="row justify-content-md-start align-items-md-center text-center text-md-start">
              <div class="col-md offset-md-3 mb-3 mb-md-0">
                <h4 class="card-title">Нужна доставка до двери?</h4>
              </div>

              <div class="col-md-auto">
                <a class="btn btn-primary btn-transition" href="#">Заказать доставку</a>
              </div>
            </div>

            <!-- SVG Shape -->
            <figure class="w-25 d-none d-md-block position-absolute top-0 start-0 mt-n2">
              <svg viewBox="0 0 451 902" fill="none" xmlns="http://www.w3.org/2000/svg">
                <path opacity="0.125" d="M0 82C203.8 82 369 247.2 369 451C369 654.8 203.8 820 0 820" stroke="url(#paint2_linear)" stroke-width="164" stroke-miterlimit="10"></path>
                <defs>
                  <linearGradient id="paint2_linear" x1="323.205" y1="785.242" x2="-97.6164" y2="56.3589" gradientUnits="userSpaceOnUse">
                    <stop offset="0" stop-color="white" stop-opacity="0"></stop>
                    <stop offset="1" stop-color="#377dff"></stop>
                  </linearGradient>
                </defs>
              </svg>
            </figure>
            <!-- End SVG Shape -->
          </div>
          <!-- End Card -->
         </div></div>
          </div>
      </div>
      <!-- End Title -->

      <div class="row row-cols-sm-2 row-cols-md-3 row-cols-lg-4 mb-3">

          {% for product in products %}
        <div class="col mb-4">
          <!-- Card -->
          <div class="card card-bordered shadow-none text-center h-100">
            <div class="card-pinned">
              <img class="card-img-top" src="{{ product.product_image.url }}" alt="Image Description">

              <div class="card-pinned-top-start">
                <span class="badge bg-success rounded-pill">New arrival</span>
              </div>

              <div class="card-pinned-top-end">

              </div>
            </div>

            <div class="card-body">
              <div class="mb-1">
                <a class="link-sm link-secondary" href="#">Accessories</a>
              </div>
              <a class="text-body" href="../demo-shop/product-overview.html">{{ product.product_name }}</a>
              <p class="card-text text-dark">$56.99</p>
            </div>

            <div class="card-footer pt-0">
              <button type="button" class="btn btn-outline-primary btn-sm rounded-pill">Add to cart</button>
            </div>
          </div>
          <!-- End Card -->
        </div>
            {% endfor %}

      </div>
      <!-- End Row -->

      <div class="text-center">
        <a class="btn btn-outline-primary btn-transition rounded-pill" href="#">View all products</a>
      </div>
    </div>



    <div class="position-relative overflow-hidden content-space-2">
      <div class="position-absolute top-50 start-50 translate-middle w-100">
        <div class="container-fluid px-lg-6">
          <div class="row justify-content-center">
            <div class="col-3 my-4">
              <div class="d-none d-md-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto">
                <img class="avatar-img" src="{% static "/img/theme/motovario.png" %}" alt="Logo">
              </div>
            </div>
            <!-- End Col -->

            <div class="col-3 mb-4">
              <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto">
                <img class="avatar-img" src="{% static "/img/theme/brevini.png" %}" alt="Logo">
              </div>
            </div>
            <!-- End Col -->

            <div class="col-3 my-4">
              <div class="d-none d-md-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto">
                <img class="avatar-img" src="{% static "/img/theme/bondioli_pavesi.png" %}" alt="Logo">
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->

          <div class="row justify-content-between">
            <div class="col-3 mb-4">
              <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4">
                <img class="avatar-img" src="./assets/svg/brands/slack-icon.svg" alt="Logo">
              </div>
            </div>
            <!-- End Col -->

            <div class="col-3 my-4">
              <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto">
                <img class="avatar-img" src="./assets/svg/brands/spotify-icon.svg" alt="Logo">
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->

          <div class="row">
            <div class="col-3 offset-1 my-4">
              <div class="d-none d-md-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto">
                <img class="avatar-img" src="./assets/svg/brands/paypal-icon.svg" alt="Logo">
              </div>
            </div>
            <!-- End Col -->

            <div class="col-3 offset-2 my-4">
              <div class="d-none d-md-block avatar avatar-xl rounded-circle shadow-sm p-4 ms-auto">
                <img class="avatar-img" src="./assets/svg/brands/dropbox-icon.svg" alt="Logo">
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->

          <div class="row justify-content-between">
            <div class="col-4">
              <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto">
                <img class="avatar-img" src="./assets/svg/brands/airbnb-icon.svg" alt="Logo">
              </div>
            </div>
            <!-- End Col -->

            <div class="col-4 mt-6">
              <div class="d-none d-sm-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto">
                <img class="avatar-img" src="./assets/svg/brands/behance-icon.svg" alt="Logo">
              </div>
            </div>
            <!-- End Col -->

            <div class="col-4 mt-6">
              <div class="d-block avatar avatar-xl rounded-circle shadow-sm p-4 mx-auto">
                <img class="avatar-img" src="./assets/svg/brands/dribbble-icon.svg" alt="Logo">
              </div>
            </div>
            <!-- End Col -->
          </div>
          <!-- End Row -->
        </div>
      </div>

      <div class="container position-relative zi-1 content-space-3 content-space-sm-4">
        <!-- Heading -->
        <div class="w-md-75 w-lg-50 text-center mx-md-auto">
          <h2 class="h1">The complete theme for internet business</h2>
          <p>Millions of the world's most innovative technology companies are scaling faster and more efficiently by building their businesses on Front.</p>
          <a class="link" href="#">Discover how businesses use Front <i class="bi-chevron-right small ms-1"></i></a>
        </div>
        <!-- End Heading -->
      </div>

      <div class="gradient-y-lg-white position-absolute top-0 start-0 w-100 h-100"></div>
    </div>



    </main>
    <!-- ========== END MAIN CONTENT ========== -->


{% endblock %}