{% extends 'base.html' %}
{% load static %} 
{% load editorjs %}

{% block content %}

<!-- Hero -->
<div class="position-relative bg-img-start" style="background-image: url({{ manufacturer.manufacturer_big_image.url }})">
    <div class="container content-space-t-2 content-space-t-md-3 content-space-3 content-space-b-lg-5">
      <div class="w-lg-50">
        <h1>{{ manufacturer.manufacturer_name }}</h1>
        <h2 class="h1 text-primary">{{ manufacturer.manufacturer_desc }}</h2>
      </div>
    </div>
  
    <!-- Shape -->
    <div class="shape shape-bottom zi-1" style="margin-bottom: -.125rem">
      <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" viewBox="0 0 1920 100.1">
        <path fill="#fff" d="M0,0c0,0,934.4,93.4,1920,0v100.1H0L0,0z"></path>
      </svg>
    </div>
    <!-- End Shape -->
  </div>
  <!-- End Hero -->
  
  <!-- Clients -->
  <div class="container position-relative zi-2">
    <div class="row justify-content-center mt-n5">

    {% for class,item in datas%}
    
      <div class="col-lg-2 d-none {{class}}">
        <!-- Logo -->
        <div class="avatar avatar-xl {% if forloop.counter == 2 or forloop.counter == 5%} avatar-xxl{% endif %} avatar-circle shadow-sm p-4 mx-auto">
          <img class="avatar-img" src="{{ item.product_image.url }}" alt="Image Description">
        </div>
        <!-- End Logo -->
      </div>
      
  {% endfor %}
      
    </div>
  </div>
  <!-- End Clients -->










  <!-- Article Description -->
<div class="container content-space-2 content-space-lg-3">
    <div class="w-lg-65 mx-lg-auto">
      <div class="mb-4">
        <h2 class="h2">Подробнее о производителе</h2>
      </div>
  
      <div class="row align-items-sm-center mb-5">

  
    
  
      <p>{{ manufacturer.body_editorjs | editorjs}}</p>
    </div>
      
    </div>
  </div>
  <!-- End Article Description -->






<!-- CTA -->
<div class="container content-space-b-2">
  <div class="text-center bg-img-start py-6" style="background: url({% static 'svg/components/shape-6.svg' %}) center no-repeat;">
    <div class="mb-5">
      <h2>Все продукты {{ manufacturer.manufacturer_name }}</h2>
      <p>Не нашли подходящий продукт?</p>
    </div>

    <a class="btn btn-primary btn-transition" href="#">Напишите нам</a>
  </div>
</div>
<!-- End CTA -->

<!-- Card Grid -->
<div class="container">
  <div class="row">
    <div class="col-lg-12">
      <div class="row row-cols-sm-2 row-cols-md-4 mb-10">
        {% for product in products_man %}
        <div class="col-sm-6 col-lg-3 my-5 mb-lg-0">
          <!-- Card -->
          <div class="card card-sm shadow-sm mb-4" style="height: 100%">
            <div class="card-body">
              <div style="
                        display: flex;
                        flex-wrap: wrap;
                        flex-direction: column;
                        height: 100%;
                        justify-content: space-between;
                      ">
                <div>
                  <div style="width: auto; height: 200px;overflow:hidden;">
                    <img style="
                          width: 100%;
                          " src="{{ product.product_image.url }}" alt="Image Description" />
                  </div>
                  <h3 class="card-title">{{ product.product_name }}</h3>
                  <p class="card-text">{{product.category.all.0}}</p>
                  {% if product.manufacturer.all.0.manufacturer_image.url %}
                  <div class="mb-4">
                    <img class="avatar avatar-4x3 me-2" src="{{product.manufacturer.all.0.manufacturer_image.url}}"
                      alt="Figma" />
                  </div>
                  {% endif %}
                </div>
                <div>
                  <a href="{% url 'product' product.product_slug %}">
                    <button type="button" class="btn btn-outline-secondary">
                      Подробнее
                    </button></a>
                </div>
              </div>
            </div>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->
        {% endfor %}
      </div>
      <!-- End Row -->


    </div>
    <!-- End Col -->
  </div>
  <!-- End Row -->
</div>
<!-- End Card Grid -->


  {% endblock %}