{% extends 'base.html' %}
{% load static %}
{% load editorjs %}
{% block content %}
<main id="content" role="main" class="content-space-t-4">
    <!-- Breadcrumb -->
    <div class="border-top border-bottom">
      <div class="container py-3">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="../demo-app-marketplace/index.html">Apps</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">App Overview</li>
          </ol>
        </nav>
        <!-- End Breadcrumb -->
      </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Content -->
    <div class="container content-space-t-2 content-space-b-lg-2">
      <div class="row">
        <div class="col-md-4 col-lg-3 mb-9 mb-md-0">
          <div class="pe-lg-2">
            <div class="text-center mb-4">
              <img class="product-image " src="{{ product.product_image.url }}" alt="Logo">
            </div>

            <div class="d-grid mb-7">
              <a class="btn btn-sm btn-block btn-primary transition-3d-hover" href="#">Заказать звонок</a>
            </div>

            <div class="mb-7">
              <h1 class="h4">Категория</h1>
{% for cat in product.category.all%}
              <a class="btn btn-soft-secondary btn-xs me-1 mb-2" href="../category/{{ product.category.cat_slug }}">{{ cat }}</a>
{% endfor %}
            </div>

            <div class="d-none d-md-block mb-7">
              <h4>Производитель</h4>
              {% for manufact in product.manufacturer.all %}

              <a class="d-flex align-items-center" href="#">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-xs" src="{{ manufact.manufacturer_image.url}}" alt="Logo">
                </div>
                <div class="flex-grow-1 ms-2">
                  <span class="link link-secondary">{{manufact}}</span>
                </div>
              </a>
              {% endfor %}
            </div>

        

            <div class="d-none d-md-block mb-7">
              <h4>Developer links</h4>

              <!-- List Pointer -->
              <ul class="list-unstyled list-pointer">
                <li class="list-pointer-item">
                  <a class="link link-secondary" href="#">Support</a>
                </li>
                <li class="list-pointer-item">
                  <a class="link link-secondary" href="#">Documentation</a>
                </li>
                <li class="list-pointer-item">
                  <a class="link link-secondary" href="#">Privacy Policy</a>
                </li>
              </ul>
              <!-- End List Pointer -->
            </div>

            <a class="link-sm link-secondary" href="#">
              <i class="bi-flag me-2"></i> Report abuse
            </a>
          </div>
        </div>
        <!-- End Col -->

        <div class="col-md-8 col-lg-9 column-divider-md">
          <div class="ps-lg-2">
            <div class="mb-5">
              <h2>{{ product.product_name }}</h2>
              <div>{{ product.product_short_desc }}</div>
            </div>

            <!-- Nav Scroller -->
            <div class="js-nav-scroller hs-nav-scroller-horizontal">
              <span class="hs-nav-scroller-arrow-prev" style="display: none;">
                <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                  <i class="bi-chevron-left"></i>
                </a>
              </span>

              <span class="hs-nav-scroller-arrow-next" style="display: none;">
                <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                  <i class="bi-chevron-right"></i>
                </a>
              </span>

              <!-- Nav -->
              <ul class="nav nav-segment nav-fill mb-7" id="featuresTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" href="#featuresOne" id="featuresOne-tab" data-bs-toggle="tab" data-bs-target="#featuresOne" role="tab" aria-controls="featuresOne" aria-selected="true" style="min-width: 7rem;">Описание</a>
                </li>

                <li class="nav-item" role="presentation">
                  <a class="nav-link" href="#featuresTwo" id="featuresTwo-tab" data-bs-toggle="tab" data-bs-target="#featuresTwo" role="tab" aria-controls="featuresTwo" aria-selected="false" style="min-width: 7rem;">Характеристики</a>
                </li>

                <li class="nav-item" role="presentation">
                  <a class="nav-link" href="#featuresThree" id="featuresThree-tab" data-bs-toggle="tab" data-bs-target="#featuresThree" role="tab" aria-controls="featuresThree" aria-selected="false" style="min-width: 7rem;">Документация</a>
                </li>
              </ul>
              <!-- End Nav -->
            </div>
            <!-- End Nav Scroller -->

            <!-- Tab Content -->
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="featuresOne" role="tabpanel" aria-labelledby="featuresOne-tab">
               {{ product.longdescription | editorjs }}
              </div>

              <div class="tab-pane fade" id="featuresTwo" role="tabpanel" aria-labelledby="featuresTwo-tab">
                {{ product.characteristics | editorjs }}
              </div>

              <div class="tab-pane fade" id="featuresThree" role="tabpanel" aria-labelledby="featuresThree-tab">
                <h4 class="mb-3">Pricing plans</h4>

                <!-- Form -->
                <form>
                  <div class="d-grid gap-2 mb-5">
                    <!-- Card -->
                    <div class="card card-sm card-bordered shadow-none">
                      <div class="card-body">
                        <div class="row align-items-sm-center">
                          <div class="col">
                            <div class="d-flex align-items-center">
                              <div class="flex-shrink-0">
                                <span class="svg-icon svg-icon-sm text-center text-primary" style="min-width: 3rem;">
                                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path opacity="0.85" d="M15.9999 25.6C21.3018 25.6 25.5999 21.302 25.5999 16C25.5999 10.6981 21.3018 6.40002 15.9999 6.40002C10.698 6.40002 6.3999 10.6981 6.3999 16C6.3999 21.302 10.698 25.6 15.9999 25.6Z" fill="#377dff"/>
                                  </svg>

                                </span>
                              </div>

                              <div class="flex-grow-1 ms-4">
                                <h4 class="card-title mb-0">Launch</h4>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-sm-7 col-md-6">
                            <p class="card-text small">99GB storage in launch accounts</p>
                          </div>
                          <!-- End Col -->

                          <div class="col-12 col-lg-2 mt-3 mt-lg-0">
                            <div class="d-grid">
                              <a class="btn btn-outline-primary" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">$49</a>
                            </div>
                          </div>
                          <!-- End Col -->
                        </div>
                        <!-- End Row -->
                      </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card card-sm card-bordered shadow-none">
                      <div class="card-body">
                        <div class="row align-items-sm-center">
                          <div class="col">
                            <div class="d-flex align-items-center">
                              <div class="flex-shrink-0">
                                <span class="svg-icon text-center text-primary" style="min-width: 3rem;">
                                  <svg width="32" height="32" viewBox="0 0 32 32" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <g clip-path="url(#clip0)">
                                  <path opacity="0.85" d="M9.6 20.2C14.9019 20.2 19.2 15.9019 19.2 10.6C19.2 5.29807 14.9019 1 9.6 1C4.29807 1 0 5.29807 0 10.6C0 15.9019 4.29807 20.2 9.6 20.2Z" fill="#377dff"/>
                                  <path opacity="0.85" d="M22.4 20.2C27.702 20.2 32 15.9019 32 10.6C32 5.29807 27.702 1 22.4 1C17.0981 1 12.8 5.29807 12.8 10.6C12.8 15.9019 17.0981 20.2 22.4 20.2Z" fill="#377dff"/>
                                  <path opacity="0.85" d="M16.2001 31C21.502 31 25.8001 26.7019 25.8001 21.4C25.8001 16.0981 21.502 11.8 16.2001 11.8C10.8982 11.8 6.6001 16.0981 6.6001 21.4C6.6001 26.7019 10.8982 31 16.2001 31Z" fill="#377dff"/>
                                  </g>
                                  <defs>
                                  <clipPath id="clip0">
                                  <rect width="32" height="32" fill="white"/>
                                  </clipPath>
                                  </defs>
                                  </svg>

                                </span>
                              </div>

                              <div class="flex-grow-1 ms-4">
                                <h4 class="card-title mb-0">Growth</h4>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-sm-7 col-md-6">
                            <p class="card-text small">500GB storage in growth accounts</p>
                          </div>
                          <!-- End Col -->

                          <div class="col-12 col-lg-2 mt-3 mt-lg-0">
                            <div class="d-grid">
                              <a class="btn btn-outline-primary" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">$149</a>
                            </div>
                          </div>
                          <!-- End Col -->
                        </div>
                        <!-- End Row -->
                      </div>
                    </div>
                    <!-- End Card -->

                    <!-- Card -->
                    <div class="card card-sm card-bordered shadow-none">
                      <div class="card-body">
                        <div class="row align-items-sm-center">
                          <div class="col">
                            <div class="d-flex align-items-center">
                              <div class="flex-shrink-0">
                                <span class="svg-icon text-center text-primary" style="min-width: 3rem;">
                                  <svg width="56" height="56" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                                  <path opacity="0.85" d="M28 44.8C37.2783 44.8 44.7999 37.2784 44.7999 28C44.7999 18.7216 37.2783 11.2 28 11.2C18.7216 11.2 11.2 18.7216 11.2 28C11.2 37.2784 18.7216 44.8 28 44.8Z" fill="#377dff"/>
                                  </svg>

                                </span>
                              </div>

                              <div class="flex-grow-1 ms-4">
                                <h4 class="card-title mb-0">Enterprise</h4>
                              </div>
                            </div>
                          </div>
                          <!-- End Col -->

                          <div class="col-sm-7 col-md-6">
                            <p class="card-text small">100TB storage in enterprise accounts</p>
                          </div>
                          <!-- End Col -->

                          <div class="col-12 col-lg-2 mt-3 mt-lg-0">
                            <div class="d-grid">
                              <a class="btn btn-outline-primary" href="https://themes.getbootstrap.com/product/front-multipurpose-responsive-template/" target="_blank">$599</a>
                            </div>
                          </div>
                          <!-- End Col -->
                        </div>
                        <!-- End Row -->
                      </div>
                    </div>
                    <!-- End Card -->
                  </div>

                  <!-- Card Info -->
                  <div class="text-center">
                    <div class="card card-info-link card-sm">
                      <div class="card-body">
                        Need 100TB+ storage? <a class="card-link ms-2" href="#">Contact us <span class="bi-chevron-right small ms-1"></span></a>
                      </div>
                    </div>
                  </div>
                  <!-- End Card Info -->
                </form>
                <!-- End Form -->
              </div>
            </div>
            <!-- End Tab Content -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->

    <!-- Card Grid -->
    <div class="container content-space-2">
      <!-- Heading -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-0">Related apps</h3>
        <a class="link" href="#">View all <i class="bi-chevron-right small ms-1"></i></a>
      </div>
      <!-- End Heading -->

      <div class="row gx-3 mx-n2">
        <div class="col-sm-6 col-md-4 mb-3">
          <!-- Card -->
          <div class="card card-bordered card-transition shadow-none h-100">
            <a class="card-body" href="../demo-app-marketplace/app-overview.html">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-xs" src="../assets/svg/brands/spotify-icon.svg" alt="Logo">
                </div>

                <div class="flex-grow-1 ms-3">
                  <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0">Spotify</h5>
                    <img class="avatar avatar-xss ms-1" src="../assets/svg/illustrations/top-vendor.svg" alt="Image Description" title="Top Vendor">
                  </div>
                  <p class="card-text text-body small">Entertainment</p>
                </div>
              </div>
            </a>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-md-4 mb-3">
          <!-- Card -->
          <div class="card card-bordered card-transition shadow-none h-100">
            <a class="card-body" href="../demo-app-marketplace/app-overview.html">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-xs" src="../assets/svg/brands/slack-icon.svg" alt="Logo">
                </div>

                <div class="flex-grow-1 ms-3">
                  <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0">Slack</h5>
                  </div>
                  <p class="card-text text-body small">Communication</p>
                </div>
              </div>
            </a>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-md-4 mb-3">
          <!-- Card -->
          <div class="card card-bordered card-transition shadow-none h-100">
            <a class="card-body" href="../demo-app-marketplace/app-overview.html">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-xs" src="../assets/svg/brands/google-drive-icon.svg" alt="Logo">
                </div>

                <div class="flex-grow-1 ms-3">
                  <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0">Google Drive</h5>
                    <img class="avatar avatar-xss ms-1" src="../assets/svg/illustrations/top-vendor.svg" alt="Image Description" title="Top Vendor">
                  </div>
                  <p class="card-text text-body small">File management</p>
                </div>
              </div>
            </a>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-md-4 mb-3">
          <!-- Card -->
          <div class="card card-bordered card-transition shadow-none h-100">
            <a class="card-body" href="../demo-app-marketplace/app-overview.html">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-xs" src="../assets/svg/brands/atlassian-icon.svg" alt="Logo">
                </div>

                <div class="flex-grow-1 ms-3">
                  <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0">Atlassian</h5>
                  </div>
                  <p class="card-text text-body small">Developer tools</p>
                </div>
              </div>
            </a>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-md-4 mb-3">
          <!-- Card -->
          <div class="card card-bordered card-transition shadow-none h-100">
            <a class="card-body" href="../demo-app-marketplace/app-overview.html">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-xs" src="../assets/svg/brands/behance-icon.svg" alt="Logo">
                </div>

                <div class="flex-grow-1 ms-3">
                  <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0">Behance</h5>
                    <img class="avatar avatar-xss ms-1" src="../assets/svg/illustrations/top-vendor.svg" alt="Image Description" title="Top Vendor">
                  </div>
                  <p class="card-text text-body small">Design tools</p>
                </div>
              </div>
            </a>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->

        <div class="col-sm-6 col-md-4 mb-3">
          <!-- Card -->
          <div class="card card-bordered card-transition shadow-none h-100">
            <a class="card-body" href="../demo-app-marketplace/app-overview.html">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-xs" src="../assets/svg/brands/invision-studio-icon.svg" alt="Logo">
                </div>

                <div class="flex-grow-1 ms-3">
                  <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0">InVision Studio</h5>
                  </div>
                  <p class="card-text text-body small">Design tools</p>
                </div>
              </div>
            </a>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Card Grid -->
  </main>
{% endblock %}