{% extends 'base.html' %}
{% load static %}
{% load editorjs %}
{% block content %}
<main id="content" role="main" class="content-space-t-4">
    <!-- Breadcrumb -->
    <div class="border-top border-bottom">
      <div class="container py-3">
        <!-- Breadcrumb -->
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb mb-0">
            <li class="breadcrumb-item">
              <a href="{% url 'products' product.category.first.cat_slug %}">{{product.category.first}}</a>
            </li>
            <li class="breadcrumb-item active" aria-current="page">{{product.product_name}}</li>
          </ol>
        </nav>
        <!-- End Breadcrumb -->
      </div>
    </div>
    <!-- End Breadcrumb -->

    <!-- Content -->
    <div class="container content-space-t-2 content-space-b-lg-2">
      <div class="row">
        <div class="col-md-4 col-lg-3 mb-9 mb-md-0">
          <div class="pe-lg-2">
            <div class="text-center mb-4">
              <img class="product-image " src="{{ product.product_image.url }}" alt="Logo">
            </div>

            <div class="d-grid mb-7">
              <a class="btn btn-sm btn-block btn-primary transition-3d-hover" href="#">Заказать звонок</a>
            </div>

            <div class="mb-7">
              {% if product.product_tag.first %}
              <h1 class="h4">Назначение</h1>
              {% endif %}
{% for cat in product.product_tag.all%}
              <a class="btn btn-soft-secondary btn-xs me-1 mb-2" href="{{ cat.tag_name }}">{{ cat }}</a>
{% endfor %}
            </div>

            <div class="d-none d-md-block mb-7">
              {% if product.manufacturer.first %}
              <h4>Производитель</h4>
              {% endif %}
              {% for manufact in product.manufacturer.all %}

              <a class="d-flex align-items-center" href="#">
                <div class="flex-shrink-0">
                  <img class="avatar avatar-xs" src="{{ manufact.manufacturer_image.url}}" alt="Logo">
                </div>
                <div class="flex-grow-1 ms-2">
                  <span class="link link-secondary">{{manufact}}</span>
                </div>
              </a>
              {% endfor %}
            </div>

        

            
          </div>
        </div>
        <!-- End Col -->

        <div class="col-md-8 col-lg-9 column-divider-md">
          <div class="ps-lg-2">
            <div class="mb-5">
              <h2>{{ product.product_name }}</h2>
              <div>{{ product.product_short_desc }}</div>
            </div>

            <!-- Nav Scroller -->
            <div class="js-nav-scroller hs-nav-scroller-horizontal">
              <span class="hs-nav-scroller-arrow-prev" style="display: none;">
                <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                  <i class="bi-chevron-left"></i>
                </a>
              </span>

              <span class="hs-nav-scroller-arrow-next" style="display: none;">
                <a class="hs-nav-scroller-arrow-link" href="javascript:;">
                  <i class="bi-chevron-right"></i>
                </a>
              </span>

              <!-- Nav -->
              <ul class="nav nav-segment nav-fill mb-7" id="featuresTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <a class="nav-link active" href="#featuresOne" id="featuresOne-tab" data-bs-toggle="tab" data-bs-target="#featuresOne" role="tab" aria-controls="featuresOne" aria-selected="true" style="min-width: 7rem;">Описание</a>
                </li>

                <li class="nav-item" role="presentation">
                  <a class="nav-link" href="#featuresTwo" id="featuresTwo-tab" data-bs-toggle="tab" data-bs-target="#featuresTwo" role="tab" aria-controls="featuresTwo" aria-selected="false" style="min-width: 7rem;">Характеристики</a>
                </li>

                <li class="nav-item" role="presentation">
                  <a class="nav-link" href="#featuresThree" id="featuresThree-tab" data-bs-toggle="tab" data-bs-target="#featuresThree" role="tab" aria-controls="featuresThree" aria-selected="false" style="min-width: 7rem;">Документация</a>
                </li>
              </ul>
              <!-- End Nav -->
            </div>
            <!-- End Nav Scroller -->

            <!-- Tab Content -->
            <div class="tab-content" id="pills-tabContent">
              <div class="tab-pane fade show active" id="featuresOne" role="tabpanel" aria-labelledby="featuresOne-tab">
               {{ product.longdescription | editorjs }}
              </div>

              <div class="tab-pane fade" id="featuresTwo" role="tabpanel" aria-labelledby="featuresTwo-tab">
                {{ product.characteristics | editorjs }}
              </div>

              <div class="tab-pane fade" id="featuresThree" role="tabpanel" aria-labelledby="featuresThree-tab">
                {{ product.documentationfield | editorjs }}
            </div>
            <!-- End Tab Content -->
          </div>
        </div>
        <!-- End Col -->
      </div>
      <!-- End Row -->
    </div>
    <!-- End Content -->

    <!-- Card Grid -->
    <div class="container content-space-2">
      <!-- Heading -->
      <div class="d-flex justify-content-between align-items-center mb-3">
        <h3 class="mb-0">Смотрите также</h3>
        <a class="link" href="{% url 'products' product.category.first.cat_slug %}">{{product.category.first}}<i class="bi-chevron-right small ms-1"></i></a>
      </div>
      <!-- End Heading -->

  
     


      <div class="row gx-3 mx-n2">

        {% for reccomend in product.category.first.product_set.all %}
        {% if forloop.counter < 7 %}
        <div class="col-sm-6 col-md-4 mb-3">
          <!-- Card -->
          <div class="card card-bordered card-transition shadow-none h-100">
            <a class="card-body" href="../demo-app-marketplace/app-overview.html">
              <div class="d-flex">
                <div class="flex-shrink-0">
                  <img class="avatar" style="height:auto;" src="{{ reccomend.product_image.url }}" alt="Logo">
                </div>

                <div class="flex-grow-1 ms-3">
                  <div class="d-flex align-items-center">
                    <h5 class="card-title mb-0">{{ reccomend.product_name}}</h5>

                  </div>
                  <p class="card-text text-body small">{{ reccomend.manufacturer.first.manufacturer_name }}</p>
                </div>
              </div>
            </a>
          </div>
          <!-- End Card -->
        </div>
        <!-- End Col -->
        {% endif %}
        {% endfor %}
        
      </div>
      <!-- End Row -->
    </div>
    <!-- End Card Grid -->
  </main>
{% endblock %}